# Java class files
/src/main/java/coreutility/pdfConverter.java

# Log files
*.log

# Allure directories
/allure-report/
/allure-results/

# build files
/build/
/target/
/.m2/

# Dependency directories
/lib/
/node_modules/

# Operating system files
.DS_Store
Thumbs.db
